.plan-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

.plan-section {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}



.plan-section div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.plan-section div p {
    font-size: .9rem;
    padding: 10px 40px;
    text-align: center;
    color: gray;
}

.plan-section div h3 {
    font-size: 1.5rem;
    font-weight: 900;
}

.plan-section img  {
    width: 220px;
    height: 220px;
    object-fit: contain;
}

.plan-heading {
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    text-align: center;
}

.plan-heading .h4 {
    font-size: 1.6rem;
}

.plan-heading h1 {
    font-size: 2.5rem;
    font-weight: bolder;
}  
